<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Thank You</title>
</head>
<body class="thanks">
    <div class="middle-container">
        <h1 id="h1"> Thankyou for Your Feedback! </h1>
        <h2 id="h2"> Want to submit another <a href="{% url 'home' %}">feedback?</a></h2>
    </div>

    <h3> Go to <a href="https://www.abhyaz.com/">Home</a> page.</h3>
</body>
</html>